global
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:8080
    default_backend http_back

backend http_back
    balance roundrobin
    option httpchk GET /
    server server1 172.27.0.1:3001 check
    server server2 172.27.0.1:3002 check
    server server3 172.27.0.1:3003 check backup
